* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', serif;
}

ul {
  list-style: none;
}

p {
  font-family: 'Roboto', serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', serif;
  font-weight: 700;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
}

.hero {
  background-image: url(../img/supra.jpg);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 700px;
}

.hero__title {
  padding-top: 150px;
  margin-bottom: 20px;
  font-size: 56px;
  color: #fff;
}

.hero__img {
  position: absolute;
  left: 200px;
  width: 100px;
  height: 50px;
}

.devises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.devises__item {
  margin-left: 60px;
  margin-bottom: 30px;
}

.what-we-do {
  padding-top: 80px;
  padding-bottom: 80px;
}

.what-we-do__title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 36px;
}

.what-we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.what-we-do__img {
  width: 700px;
  height: 300px;
}

.overley {
  position: relative;
}

.overley::before {
  content: '';
  display: block;
  position: absolute;
}

.overley__background {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.overley:hover .overley__background {
  opacity: 1;
}

.overley__headline {
  position: absolute;
  margin-left: 50px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 27px;
  padding-left: 94px;
}

.our-team__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}

.our-team {
  background-color: rgba(117, 117, 117, 0.2);
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}

.our-team__card-text {
  text-align: center;
}

.our-team__card-title {
  text-align: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 35px;
  gap: 10px;
  margin-left: -35px;
}

.social__item {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.social__item:hover {
  color: #fff;
}

.social__background {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 60px;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.social__background:hover {
  background-color: #2196f3;
}

.social__svg {
  fill: currentColor;
}

.grey-cross {
  background-color: #969696;
  width: 100%;
  height: 1px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.footer__img {
  margin-top: -40px;
  width: 200px;
  height: 100px;
}

.footer__link {
  font-size: 24px;
  color: #757575;
}

.footer__link:hover {
  color: #2196f3;
}

.footer__top {
  font-size: 24px;
  color: #2196f3;
}
/*# sourceMappingURL=index.css.map */