.header__close-svg {
    width: 30px;
    height: 30px;
}
.header__button {
    background: none;
    border: none;
}
.devises {
    display: flex;
    flex-wrap: wrap;
}
.devises__item {
    margin-left: 60px;
    margin-bottom: 30px;
}